body {
    text-align: center;
}

.top-container {
    background-color: #e4f9f5;
}

.medium-container {
    margin: 25px 0;
}

.start {
    background-color: aquamarine;
}

.h1-start {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 3.625rem;
}

.subtitle-h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
}

.cloud1 {
    width: 100px;
    position: relative;
    right: 300px;
    top: 40px;
}

.profile {
    background-color: aliceblue;
    display: block;
}

.introduction {
    margin: auto;
    width: 30%;
    font-family: 'Rubiks', sans-serif;
    font-size: medium;
}

.profile-hi {
    font-family: 'Rubiks', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.coding-img {
    width: 20%;
}

.parent {
    text-align: left;
}